{% extends "base.html" %}
{% load fiber_tags %}

{% block main_content %}
    {%  if turkana_list %}
        <table>
        {% for row in turkana_list %}
            <tr>
                <td>{{ row.record_number }}</td>
                <td>{{ row.year_found }}</td>
                <td>{{ row.study_area }}</td>
                <td>{{ row.formation }}</td>
                <td>{{ row.member }}</td>
                <td>{{ row.genus }}</td>
                <td>{{ row.species }}</td>
                <td>{{ row.body_element }}</td>
            </tr>
        {% endfor %}
        </table>
        {% else %}
        No data to display
    {% endif %}
{% endblock %}