#project-data-table {
    width: 100% !Important;
}

.project-table-row {
    font-size:150%;
}

.project-table-row:hover {
    background-color: #ebebeb;

}

#search-table tbody tr {
    cursor: pointer;
}

#clearFilterButton {
    border: 2px solid #0090c5;
    background:transparent;
    border-radius:5px;
    width:100%;
}

#project-data-table tbody tr {
    cursor: pointer;
}