{% extends "base.html" %}
{% block main_content %}
    <div class="content" id="content">
    {%  regroup terms by category as terms_list %}

    <table>
    <th>Group</th><th>Attributes</th>
    {% for category in terms_list %}
        <tr>
            <td class="content" id="content">{{ category.grouper }}</td>
            <td>{% for term in category.list %}<a href="term/{{ term.id }}">{{ term.name }}</a>,{% endfor %}</td>
        </tr>



        {% comment %}
        {% if term.project.name == "ABCDEFG" %}abc:
        {% elif term.project.name == "Dublin Core" %}dc:
        {% elif term.project.name == "Darwin Core" %}dwc:
        {% endif %}
        {% endcomment %}



    {% endfor %}
    </table>
    </div>
    {% comment %}
    {% for term in terms %}
        <h3><a href="term/{{ term.id }}">{{ term.name }}</a></h3>
        <p>{{ term.definition|safe }}</p>
        {% if term.uri %}
            <p>URI: <a href="{{ term.uri }}" target="_blank">{{ term.uri }}</a></p>
        {% endif %}
        {% if term.uses_controlled_vocabulary %}
            <p>Controlled Vocabulary: {{ term.controlled_vocabulary }}
            {% if term.controlled_vocabulary_url %}
                <br/>Controlled Vocabulary URL: <a href="{{ term.controlled_vocabulary_url }}" target="_blank">{{ term.controlled_vocabulary_url }}</a>
            {% endif %}
            </p>
        {% endif %}
    {% endfor %}
    {% endcomment %}
{% endblock %}