{% extends "../../base/templates/base.html" %}

{% block base_content %}

      <div id="main-wrapper">
		<div class="5grid-layout">
            <div class="row">
                <article>
                    <h2>Lake Turkana</h2>
                    <p>Stuff about Turkana.
                    </p>


                    <ul style="padding-top: 20px;">
                        <li><a href="/data/turkana/admin/">Go to the Administrator Site (requires login)</a></li>
                        <li><a href="/data/turkana/results/">Search for Specimens</a></li>
                    </ul>
                    </p>
                </article>


            </div>
        </div>
    </div>
{% endblock %}