p.text
{
    font-family: 'Verdana', sans-serif;
    font-size: 12pt;
    line-height: 1.75em;
    color: #4c4c4c;
}

ol.num_list {
    list-style: decimal;
    margin-left: 20px;
}
table.list td {
    padding: 15px;
}
strong {
    font-weight: bold;
    font-style: italic;
}
#terms table {
    font-family: verdana, helvetica, sans-serif;
    font-size: 9pt;
}
#terms th {
    border: 1px solid black;
    padding: 7px;
    font-weight: bold;
    font-style: italic;
}
#terms td {
    border: 1px solid black;
    margin: 0;
    padding: 7px;
    font-family: verdana, helvetica, sans-serif;
}
#terms th.baseProject {
    border: 3px solid black;
    background-color: #EEEEEE;
}
#terms td.baseProject {
    border: 3px solid black;
    background-color: #EEEEEE;
    font-weight: bold;
}
.formList-Horizontal li {
    display: inline;
}
.highlight {
    font-weight: bold;
    font-style: italic;
}

#PaleoCoreBannerText {
    font-size: .9em;
    letter-spacing: -1px;
    color: #fff;
}

/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
/*Nice Looking Tables*/
td {
    padding-right:20px;
    padding-left:20px;
    padding-top:4px;
    padding-bottom:4px;
}

table.center {
    margin-left:auto;
    margin-right:auto;
  }

tr:nth-child(odd) {background: #F5F5F5}

tr:nth-child(even) {background: #FFF}
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */



/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */
/*These two declarations change font across the site, except where more specific rules override*/
body {
    font-family: Georgia,serif;
    font-size:1em
}

h3,h4,h2,h1,#site-nav {
        font-family: Georgia,serif;
}
/* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* *//* */

h4 {
    font-weight: bold;
}

h2.center,h3.center {
    text-align: center;
}

.alertText, .errorlist
{
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #4e9402;
    color:white;
}

input, select, textarea
{
    display:block;
}


form {
    padding:5px;
    border-radius: 5px;
    margin:10px;
    line-height: 24px;
}

.customSubmit {

}

.button
{
    box-shadow: none;
    background:none;
    background-color:#cf7d47;
    border:1px solid black;
    color:white;
    font-size: 12pt;
}

.button:hover
{
    background-color: #c47544;
    background: #c47544;
}

.projectNavigation {
    margin-bottom: 15px;
}

.projectNavigation li{
    border:none;
    padding:0px;
    display:inline;
}

.ExtraAdminListElement {
    display:inline;
    background: #a7a7a7;
    border-radius: 2px;
}

/* Breadcrumbs */

#breadcrumbs {
	padding: 10px 0 20px 0;
}

#breadcrumbs ul li {
	float: left;
	display: block;
	margin-right: 5px;
}

#breadcrumbs ul li a {
	font-size: 18px;
	line-height: 120%;
	text-decoration: none;
	color: #666;
}

#breadcrumbs ul li:after {
	content: '»';
	color: #666;
}

#breadcrumbs ul li:last-child:after {
	content: '';
}

/* Clearfix boilerplate */

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
