<html>

<head>
<style>

.node {
  cursor: pointer;
}
.node circle {
  fill: #fff;
  stroke: steelblue;
}
text {
    font-size: 12pt;
}
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.2px;
}
</style>

</head>
<body>
<span id="thetree""></span>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
var categoryID = {{ categoryID }}

var margin = {top: 0, right: 80, bottom: 20, left: -50},
    width = 1000 - margin.right - margin.left,
    height = 800 - margin.top - margin.bottom;
    var leftOffset = 50
var i = 0,
    duration = 750,
    root;

var tree = d3.layout.tree()
    .size([height, width]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

var svg = d3.select("#thetree").append("svg")
        .attr("id","mainTreeSVG")
        .append("g")
        .attr("id","mainTreeGelement");

d3.json("/schema/ontologyJSONtree/", function(error, json) {
  root = json;
  root.x0 = height / 2;
  root.y0 = 0;

  function collapse(d) {
    if (d.children) {
      d._children = d.children;
      d._children.forEach(collapse);
      d.children = null;
    }
  }

  //this counts the terminal nodes and scales the size to be appropriate for the number of terminal nodes
  var theNodes = tree.nodes(root).reverse();


  tree.size([height, width]);
  d3.select("#mainTreeSVG")
          .attr("height",height + margin.top + margin.bottom)
          .attr("width", width + margin.right + margin.left);
  d3.select("#mainTreeGelement")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
  //End code to scale size according to number of nodes

  update(root);
});


function update(source) {

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
      links = tree.links(nodes);

  // Normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * 150; });

  // Update the nodes…
  var node = svg.selectAll("g.node")
      .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
      .on("click",function(d){
              if(d3.event.shiftKey) {
                  if (d.children) {
                    d._children = d.children;
                    d.children = null;
                    } else {
                    d.children = d._children;
                    d._children = null;
                    }
                update(d);
                }
          });

  nodeEnter.append("rect")
          .attr("fill",function(d){if (d.categoryID === parseInt(categoryID)) return "#cf7d47"; else return "black";})
          .attr("fill-opacity",function(d){if (d.name=="") return "0"; else{if (d.categoryID === parseInt(categoryID)) return "1"; else return ".5";}})
          .attr("y","-20")
          .attr("x",function(d){if (d.children){return "-80";} else {return "-10";}})
          .attr("height","40")
          .attr("width","100")
          .attr("rx","5")
          .attr("ry","5")
          .on("dblclick",link2class)

  nodeEnter.append("text")
      .attr("x", function(d) { return d.children || d._children ? d.xOffset*-1 : d.xOffset; })
      .attr("dy", ".35em")
      .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
         .on("click",link2class)
      .text(function(d) { return d.name; })
       .style("fill-opacity", 1e-6)


  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("text")
      .style("fill-opacity", 1)
          .style("fill","white");

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
      .remove();

  nodeExit.select("circle")
      .attr("r", 1e-6);

  nodeExit.select("text")
      .style("fill-opacity", 1e-6);

  // Update the links…
  var link = svg.selectAll("path.link")
      .data(links, function(d) { return d.target.id; })


  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
      .attr("class", "link")
      .attr("d", function(d) {
        var o = {x: source.x0, y: source.y0};
        return diagonal({source: o, target: o});
      })
          .style("stroke",function(d){if (d.source.name=="") {return "transparent";}
                                       else {return "#ccc";}
          });

  // Transition links to their new position.
  link.transition()
      .duration(duration)
      .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
      .duration(duration)
      .attr("d", function(d) {
        var o = {x: source.x, y: source.y};
        return diagonal({source: o, target: o});
      })
      .remove();
  // Stash the old positions for transition.
  nodes.forEach(function(d) {
    d.x0 = d.x;
    d.y0 = d.y;
  });
}

//Open detail page on double click
function link2class(d){
    window.open(d.URL);
}

// Toggle children on click.
function click(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
  update(d);
}
</script>



</body>
</html>