{% extends "arcana_2col_left_nav.html" %}
{% block main_content %}
{% load diagrams%}
{% load cms_content %}

{% if form.errors %}

    <p style="color: maroon;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>

{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td colspan="2">
                {% cms_content "terms_intro" %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.baseProject.error_messages }}
                <div>
                    <span id="id_baseProject">Base Project:</span><br/>
                    {{ form.baseProject }}
                </div>
            </td>
            <td>
                <div class="formList-Horizontal">
                    {{ form.showColumns.error_messages }}
                    <span id="id_showColumns">Show Columns:</span>
                    {{ form.showColumns }}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="formList-Horizontal">
                    {{ form.showCategories.error_messages }}
                    <span id="id_showCategories">Show Classes:</span>
                    {{ form.showCategories }}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="formList-Horizontal">
                    {{  form.showProjects.error_messages }}
                    <span id="id_showProjects">Show Projects:</span>
                    {{ form.showProjects }}
                </div>
            </td>
        </tr>
        <tr>
            <td style="text-align: right; vertical-align: bottom" colspan="2"><input type="submit" value="submit"></td>
        </tr>
    </table>
</form>

<p>Project Terms:</p>

{% if m %}
    <div id="terms">
        <table class="list">
            <tr>
                <th class="baseProject" colspan="{{ m.showColumns|length|add:"1" }}">{{ m.baseProject.name }}</th>
                {% for project in m.showProjects %}
                    <th style="font-weight: bold; font-style: italic; background-color: {{ forloop.counter0|colorPicker }}">{{ project.name }}</th>
                {% endfor %}
                <th colspan="2" style="font-weight: bold; font-style: italic;">totals</th>
            </tr>
            <tr>
                <th class="baseProject">field name</th>
                {% if "definition" in m.showColumns %}
                    <th class="baseProject">definition</th>
                {% endif %}
                {% if "type" in m.showColumns %}
                    <th class="baseProject">data type</th>
                {% endif %}
                {% for project in m.showProjects %}
                    <th style="background-color: {{ forloop.counter0|colorPicker }}">field name</th>
                {% endfor %}
                <th>related projects</th>
                <th>% of related projects</th>
            </tr>
            {% for termView in m.termViews %}
                <tr>
                    <td class="baseProject">
                        <a href="/schema/term/{{ termView.id }}/">{{ termView.name }}</a>
                    </td>
                    {% if "definition" in m.showColumns %}
                        <td class="baseProject" style="font-size: 8pt; font-weight: normal">
                            {{ termView.definition }}
                        </td>
                    {% endif %}
                    {% if "type" in m.showColumns %}
                        <td class="baseProject">
                            {{ termView.type.name }}
                        </td>
                    {% endif %}
                    {% for project in m.showProjects %}
                        {% if project.name in termView.projectsWithRelatedTermsNames %}
                            <td style="background-color: {{ forloop.counter0|colorPicker }}">
                                <table>
                                    {% for projectView in termView.projectsWithRelatedTerms %}
                                        {% if project.name == projectView.name %}
                                            <tr>
                                                <td style="border: none">{{ projectView.relatedTermRelationship.related_term.name }}<br/>({{ projectView.relatedTermRelationship.relationship_type.name }})</td>
                                                {% if "definition" in m.showColumns %}
                                                    <td style="font-size: 8pt;border: none">{{ projectView.relatedTermRelationship.related_term.definition }}</td>
                                                {% endif %}
                                                {% if "type" in m.showColumns %}
                                                    <td style="border: none">{{ projectView.relatedTermRelationship.related_term.type }}</td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </td>
                        {% else %}
                            <td style="background-color: {{ forloop.counter0|colorPicker }}">--</td>
                        {% endif %}
                    {% endfor %}
                    <td style="text-align: center">{{ termView.numberOfRelatedProjects }}</td>
                    <td style="text-align: center">{{ termView.percentageOfRelatedProjects }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <p>No project terms exist.</p>
{% endif %}
{% endblock %}