{% extends 'base.html' %}

{% block extra_style %}
    <script type='text/javascript' src='/static/jqwidgets/jqxbuttons.js'></script>
    <script type='text/javascript' src='/static/jqwidgets/jqxinput.js'></script>

    <script type='text/javascript' src='/static/javascript/project_data_script.js'></script>
{% endblock %}

{% block main_content %}
    <div id='search_box_wrapper'>
        <label for='search_box'></label>
        <input type='text' id='search_box' />
        <div id='search_box_button'>Search</div>
    </div>

    {% include 'search_data.html' %}
{% endblock %}