<!DOCTYPE HTML>
<!--
This template is identical to arcana_2col_left.html. It is the default PaleoCore page template.
Fiber pages that do not have a template declared will use this template by default.
-->

{% extends "arcana_base.html" %}
{% load fiber_tags %}

{% block main_content %}
<div id="main-wrapper" class="subpage">
    <div class="container">
        <div class="row">
            <div class="3u">

                <!-- Left Sidebar -->

                    <section class="last">
                        {% show_page_content "left1" %}
                        {% show_page_content "left2" %}
                    </section>

            </div>
            <div class="9u skel-cell-important">

                <!-- Content -->

                    <article class="first">

                        {% show_page_content "main" %}

                    </article>

            </div>
        </div>
    </div>
</div>
{% endblock %}


