<!DOCTYPE HTML>
<!--
This template is identical to arcana_2col_left.html. It is the default PaleoCore page template.
Fiber pages that do not have a template declared will use this template by default.
-->

{% extends "arcana_base.html" %}
{% load fiber_tags %}

{% block extra_style %}{% endblock %}
{% block extra_js %}{% endblock %}

{% block page_content %}
<div id="main-wrapper" class="subpage">
    <div class="container">
        <div class="row">
            <div class="3u">

                <!-- SubNav Sidebar -->

                    <section>
                        {% show_page_content "nav_title" %}
                        <nav class="sidenav">
                            {% show_menu "mainmenu" 2 4 %}
                        </nav>
                    </section>

                <!-- Additional Sidebar Items -->

                    <section class="last">
                        {% show_page_content "left1" %}
                        {% show_page_content "left2" %}
                        {% block left_sidebar %}{% endblock %}
                    </section>

            </div>
            <div class="9u skel-cell-important">

                <!-- Content -->

                    <article class="first">
                        {% show_page_content "main" %}
                        {% block main_content %}{% endblock %}
                    </article>

            </div>
        </div>
    </div>
</div>
{% endblock %}


