{% extends "base.html" %}

{% block page_content %}

    <div id="main-wrapper" class="subpage">
        <div class="container">
            <div class="row">
				<div class="12u">
                    <article>
                        <h3 style="margin-bottom: 15px;" class="customMessage">You must be logged in as an administrator to access that page.</h3>

                        {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><h4 class="alertText">{{ message }}</h4></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <form name="validateuser" method="post" action=".">{% csrf_token %}
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username"/>
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password"/>
                            <input type="hidden" name="nextURL" value="{{ nextURL }}">
                            <input type="submit" value="Login"/>

                        </form>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}