{% extends "base.html" %}
{% block main_content %}
    <h2>You are about to permanently change the coordinates below.</h2>
    <form action="." method="post" onsubmit="return userDoubleCheck()"> {% csrf_token %}
        {{theForm.as_p }}
    <input type="submit" method="POST">
    </form>

    {% comment %}
    below is a javascript function which is called on submit so that user double checks coords
    {% endcomment %}
    <script>
    function userDoubleCheck() {
        //else we are confirming data before save
            var newX = $("#id_new_easting").val();
            var newY = $("#id_new_northing").val();
            if( confirm("Confirm Before Changing Coordinates:\n\nNew Easting = " + newX + "\n\n" +
                                "New Northing = " + newY ))
                {return true;}
            else
                {return false;}
        };
    </script>
{% endblock %}