{% extends "base.html" %}

{% block page_content %}

<div id="main-wrapper" class="subpage">
   <div class="container">
       <div class="row">
           <div class="12u">
           <h2>Turkana Occurrence # {{ occurrence.id }}</h2>
               <table>
                    <thead>
                        <tr>
                           <td><strong>Field</strong></td>
                           <td><strong>Value</strong></td>
                        </tr>
                    </thead>
                    </tbody>
                       {% for key,value in occurrence.items %}
                           <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }}</td>
                           </tr>
                       {% endfor %}
                    </tbody>
               </table>
           </div>
       </div>
    </div>
</div>

{% endblock %}