{% extends "base.html" %}
{% load leaflet_tags %}

{% block extra_js %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}


{% block main_content %}

    <h2>Map of Paleocore Projects</h2>

    {% leaflet_map "main" callback="main_map_init" %}

    <script type="text/javascript">
        function main_map_init (map, options) {

        var dataurl = '{% url "paleocore_projects:projects_data" %}';
        // Download GeoJSON via Ajax
        $.getJSON(dataurl, function (data) {
            // Add GeoJSON layer
         L.geoJson(data).addTo(map);
        });

    }
    </script>


    {% if project_list %}
        {% for project in project_list %}
            <h3>{{ project.full_name }}</h3>

            {% if project.graphic %}
                <img src="{{ project.graphic }}"/>
            {% endif %}

            <p>{{ project.abstract }}</p>

    {% endfor %}
    {% else %}
        <h3>There are no projects to display</h3>
    {% endif %}




{% endblock %}