{% extends "base.html" %}
{% load leaflet_tags %}

{% block extra_js %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}


{% block page_content %}
<div id="main-wrapper" class="subpage">
   <div class="container">

       <h2>Paleocore Projects</h2>

        {% leaflet_map "main" callback="main_map_init" %}

            <script type="text/javascript">


                function onEachFeature(feature, layer) {
                    layer.bindPopup(feature.properties.full_name);
                    layer.on("dblclick", function(){
                        var stringid = String(feature.id)
                        window.open("detail/" + stringid);
                    });
                }

                function main_map_init (map, options) {

                var dataurl = '{% url "paleocore_projects:projects_geojson" %}';
                // Download GeoJSON via Ajax
                $.getJSON(dataurl, function (data) {
                    // Add GeoJSON layer
                    L.geoJson(data, {
                    onEachFeature: onEachFeature
                    }).addTo(map);
                });

                map.setView([30, 31], 2);
                map.scrollWheelZoom.disable();


                }
            </script>
        <p>Click on a project on the map to see the name.  Double click for more details.</p>
        <div class="container" style="padding-top: 30px;">

            {% for project in project_list %}
            {% with project.id as pk %}
                <div class="row">
                    <div class="3u">
                        <h3><a href={% url 'paleocore_projects:detail' pk %}>{{ project.full_name }}</a></h3>
                    </div>
                    <div class="3u">
                        <h3>Record Count</h3>
                    </div>
                    <div class="3u">
                        <h3>{% if project.isPublic %} Public Dataset{% else %} Private Dataset{% endif %}</h3>
                    </div>
                    <div clas="3u"></div>
                    </div>

            {% endwith %}
            {% endfor %}
        </div>



        </div>
    </div>
</div>




{% endblock %}