{% extends "base.html" %}
{% block extra_js %}
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>

    <script>
       $(document).ready(function() {
           var rows = [];

            $.getJSON( "/projects/data_json/{{ project.paleocore_appname }}/", function( data ) {

                rows.push("<thead><tr>");

                $.each(data[0]["fields"], function(key, val){
                    rows.push("<td>" + String(key) + "</td>")
                });

                rows.push("</tr></thead>");


                rows.push("<tbody>");

                $.each( data, function( occurrenceid, occurrence ) {
                    rows.push("<tr>");
                    $.each(occurrence["fields"], function( key, val ) {
                        rows.push("<td>" + val + "</td>")
                    });
                    rows.push("</tr>");


                });
                rows.push("</tbody>")
                $("#project-data").html(rows.join("")).DataTable();

            });

            });
    </script>


{% endblock %}

{% block page_content %}
<div id="main-wrapper" class="subpage">
   <div class="container">
      <div class="row">
      <div class="10u">
       <h2> {{ project }} Data</h2>

        <table id="project-data" class="display">
            <tr><td><h3>Loading data.....Don't worry, the table is VERY fast once loaded. </h3></td></tr>
        </table>
      </div>
      <div class="2u">
          <h3>Filters</h3>
      </div>
          </div>

    </div>
</div>



{% endblock %}