{% extends "base.html" %}
{% load staticfiles %}

{% block extra_style %}
   <link rel="stylesheet" type="text/css" href="{% static 'paleocore_projects/css/style.css' %}">
{% endblock %}

{% block extra_js %}
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>

    <script>
       $(document).ready(function() {
                //initiate the DataTable
                $("#project-data-table").DataTable({
                    "ajax":"{% url  "paleocore_projects:data_json" project.paleocore_appname %}{% for key, value in filterArgs.items %}{% if forloop.first %}?{% else %}&{% endif %}{{ key }}={{ value }}{% endfor %}"
                });
        });

    </script>


{% endblock %}

{% block page_content %}
<div id="main-wrapper" class="subpage">
   <div class="container">
      <div class="row">
          <div class="6u">
                <h2>{{ project }}</h2>
          </div>
          <div class="6u">
               {% if filterArgs %}
                    <h3>Current Filters</h3>
                    <ul>
                        {% for key, value in filterArgs.items %}
                        <li>{{ key }} = {{ value }}</li>
                    {% endfor %}
                    </ul>

                {% endif %}
          </div>
      </div>

      <div class="row">
          <div class="12u">
              <table id="project-data-table" class="display compact">
                <thead>
                    <tr>
                        {% for field in displayFields %}
                            <td>{{ field }}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        {% for field in displayFields %}
                            <td>{{ field }}</td>
                        {% endfor %}
                    </tr>
                </tfoot>
              </table>
          </div>
      </div>


      <div class="row">
        <div class="2u">
              <h2>Filters</h2>
              <h3 class="button" style="font-size:150%;" onclick="window.location.href = window.location.pathname">Clear Filters</h3>
          </div>
              {% for fieldname, options in filterChoices.items %}
                    <div class="2u">
                        <strong>{{ fieldname }}</strong>
                        <ul style="list-style-type: none;">
                        {% for option in options %}
                            <li><a onclick="goToURL('{{ fieldname }}={{ option }}')">{{ option }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
              {% endfor %}

      </div>

    </div>
</div>

    <script>
    // script to create urls for filters, depending on whether there are existing filters
        var goToURL = function(parameter){

                // if there is a ? then add parameter with &
                if(window.location.href.indexOf("?") > -1) {
                    window.location.href=window.location.href + "&" + parameter;
                }

                else{
                    window.location.href=window.location.href + "?" + parameter;
                };
            };
    </script>


{% endblock %}