{% extends "base.html" %}
{% block extra_js %}
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>

    <script>
       $(document).ready(function() {
            $.getJSON( "/projects/data_json/drp/", function( data ) {
                $.each( data, function( occurrenceid, occurrence ) {
                    $.each(occurrence["fields"], function( key, val ) {
                        $("#project-data").append("<tr><td>" + val + "</td></tr>")
                    });



                });
            });

            });
    </script>


{% endblock %}

{% block page_content %}
<div id="main-wrapper" class="subpage">
   <div class="container">

       <h2>Data Table</h2>

        <table id="project-data" class="display">
        </table>

    </div>
</div>



{% endblock %}