{% extends "base.html" %}
{% load leaflet_tags %}
{% load staticfiles %}
{% load humanize %}

{% block extra_style %}
   <link rel="stylesheet" type="text/css" href="{% static 'paleocore_projects/css/style.css' %}">
{% endblock %}


{% block extra_js %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}


{% block page_content %}
<div id="main-wrapper" class="subpage">
   <div class="container">

       <h2>Paleocore Projects</h2>

        {% leaflet_map "main" callback="main_map_init" %}

            <script type="text/javascript">

                function onEachFeature(feature, layer) {
                    layer.bindPopup(feature.properties.full_name);
                    layer.on("dblclick", function(){
                        var stringappname = String(feature.properties.paleocore_appname)
                        window.open(stringappname);
                    });
                }

                function main_map_init (map, options) {

                    var dataurl = '{% url "paleocore_projects:projects_geojson" %}';
                    // Download GeoJSON via Ajax
                    $.getJSON(dataurl, function (data) {
                        // Add GeoJSON layer
                        L.geoJson(data, {
                        onEachFeature: onEachFeature
                        }).addTo(map);
                    });

                    map.setView([30, 31], 2);
                    map.scrollWheelZoom.disable();


                }
            </script>
        <p>Click on a project on the map to see the name.  Double click for more details.</p>
                <div class="row">
                <div class="12u">
                <div class="row">
                {% for project in project_list %}
                {% with project.id as pk %}

                        <div class="4u" style="text-align: center;">
                            <h2><a href="{% url 'paleocore_projects:detail' project.paleocore_appname%}">{{ project.full_name }}</a></h2>
                            <p>This database contains {{ project.record_count|intcomma }} specimen occurrences.<br/>
                                These data are {% if project.is_public %} public.{% else %} private.{% endif %}</p>
                            {% if project.graphic %}
                            <a href="{% url 'paleocore_projects:detail' project.paleocore_appname%}"><img src="/media/{{ project.graphic }}" style="height:300px; margin-bottom:50px;"/></a>
                            {% endif %}
                        </div>
                    {% if forloop.counter|divisibleby:3 %}</div>{% endif %}
                {% endwith %}
                {% endfor %}
                </div>
                </div>
    </div>
</div>




{% endblock %}