<!DOCTYPE HTML>
{% extends "base/arcana_base.html" %}
{% load fiber_tags %}

{% block main_content %}
<div id="main-wrapper" class="subpage">
    <div class="container">
        <div class="row">
            <div class="3u">

                <!-- SubNav Sidebar -->

                    <section>
                        <nav class="sidenav">
                            {% show_menu "mainmenu" 2 4 %}
                        </nav>
                    </section>

                <!-- Additional Sidebar Items -->

                    <section class="last">
                        {% show_page_content "left1" %}
                        {% show_page_content "left2" %}
                    </section>

            </div>
            <div class="9u skel-cell-important">

                <!-- Content -->

                    <article class="first">

                        {% show_page_content "main" %}

                    </article>

            </div>
        </div>
    </div>
</div>
{% endblock %}


